@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'config.scss';
// to remove after done
.mock-up-mobile {
    display: none;
    @media(max-width: 400px) {
        display: flex;
    }
}

.mock-up-desktop {
    display: flex;
    @media(max-width: 400px) {
        display: none;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: $font-roboto;
    font-size: $font-size-md;
    line-height: 24px;
}

.container {
    max-width: 1254px;
}

.btn-action {
    background-color: $color-red;
    color: $color-white;
    font-weight: $font-weight-bold;
    padding: 6px 23px;
}

.btn-top:hover {
    color: $color-white!important; // to override bootstrap default style
    background-color: rgb(233, 21, 21);
}

h1 {
    font-size: $font-size-xxl;
    @media(max-width: $mobile) {
        font-size: $font-size-lg;
        line-height: 45px;
    }
}

.link-primary {
    cursor: pointer;
    font-size: $font-size-md-plus;
    i {
        margin-left: 1rem;
    }
}

.custom-input {
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    padding: 16px;
    max-width: 400px;
    border: none;
    margin-bottom: 5rem;
    min-height: 64px;
    margin-left: 6rem;
    &:focus {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }
}

h2 {
    font-size: $font-size-xl;
    @media(max-width: $mobile) {
        font-size: $font-size-subtitle;
    }
}

h3 {
    font-size: $font-size-subtitle;
}

#section-navbar {
    .navbar {
        margin-top: 1rem;
    }
    .navbar-brand img {
        width: 135px;
        height: auto;
    }
    .navbar {
        padding: 7px 0;
    }
    li.nav-item:not(:last-of-type) {
        margin-right: 28px;
        font-weight: $font-weight-bold;
        color: $color-header;
    }
    @media (max-width: $mobile) {
        .navbar {
            margin-top: 0;
            padding-left: 5px;
        }
        .navbar-brand img {
            width: 102px;
        }
        .navbar-toggler {
            border: none;
        }
        .navbar-toggler-icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

#section-card {
    margin-top: 5rem;
    .card-desc {
        font-size: $font-size-md-plus;
        margin-top: 1rem;
        max-width: 30rem;
    }
    .btn-action {
        font-size: $font-size-badge;
        padding: 0.5rem 2rem;
    }
    @media(max-width:$mobile) {
        margin-top: 2rem;
        text-align: center;
        .card-desc {
            font-size: 17px;
        }
        img {
            margin-top: 2rem;
        }
    }
}

#section-create-credit-card {
    background-color: $color-dark;
    margin-top: 4.5rem;
    padding: 6rem;
    h2,
    p {
        max-width: 30rem;
    }
    @media(max-width:$mobile) {
        margin-top: 1.5rem;
        padding: 2.5rem 0.7rem;
        .small {
            font-size: $font-size-sm;
        }
        .btn-action {
            background-color: $color-sml-button;
        }
    }
}

#section-mobile {
    .mobile-heading {
        text-align: left;
        max-width: 320px;
        margin: 2rem auto;
    }
}

#section-eligibility-form {
    .left-side {
        background-color: $color-blue;
    }
    .left-col {
        margin-top: 4rem;
    }
    .right-col {
        margin-top: 8rem;
    }
    img {
        margin-left: -28rem;
    }
    .mobile-font {
        margin-top: 1rem;
        margin-left: -11rem;
    }
    .elegi-desc {
        font-size: 24px;
        line-height: 36px;
        max-width: 367px;
        margin-top: 1rem;
        margin-left: -9rem;
    }
    @media(max-width:$mobile) {
        .mobile-font {
            font-size: $font-size-badge;
        }
        .right-col {
            margin-top: 1rem;
        }
        .mob-dese {
            text-align: left;
            max-width: 327px;
        }
    }
}

#reward-section {
    background-color: #FFE4E7;
    ;
    .reward-left {
        padding: 8rem 0rem;
    }
    .reward-desc {
        font-size: 24px;
        max-width: 496px;
        line-height: 36px;
    }
    #slider {
        margin-top: 4.5rem;
    }
    .slick-slide {
        transition: all 0.3s;
        transform: scale(0.85);
        margin-left: 15px;
        &.slick-current {
            transform: scale(1);
        }
    }
}

#section-reward-mobile {
    h3 {
        font-size: $font-size-badge;
        padding: 1rem 1rem;
    }
    p {
        text-align: left;
        max-width: 327px;
        margin-left: 1rem;
    }
}

#select-style {
    .main-background {
        background-image: url("../img/bg1.png");
    }
}