// font=family
$font-roboto: 'Roboto',
sans-serif;
// 
$font-helventica: "Helvetica Neue",
Helvetica,
Arial,
"Lucida Grande",
sans-serif;
// 
$font-nutino: 'Nunito Sans',
sans-serif;
//font-color
$color-black:#000000;
$color-header:#262A2F;
$color-red: #F2707C;
$color-dark:#8E7CB5;
$color-blue:#BFE1FF;
$color-light:#FFE4E7;
$color-light-blue:#F7F3FF;
$color-dark-blue:#12193B;
$color-white:#fff;
$color-sml-button:#4E3F6B;
$color-footer: #7C7EB5;
//font-size
$font-size-xxl: 48px;
$font-size-xl: 40px;
$font-size-lg: 32px;
$font-size-subtitle: 24px;
$font-size-md-plus: 20px;
$font-size-badge: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
//font-weight
$font-weight-bold:700;
$font-weight-md:500;
$font-weight-sm:400;
$mobile: 450px;